<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <ui-gmap-google-map center="earthquakesIndexCtrl.map.center" zoom="earthquakesIndexCtrl.map.zoom">
        <ui-gmap-marker ng-repeat="earthquake in earthquakesIndexCtrl.earthquakes" coords="{latitude: earthquake.geometry.coordinates[1], longitude: earthquake.geometry.coordinates[0]}" idkey="$index">
          <ui-gmap-window>
            <div>{{earthquake.properties.title}}</div>
          </ui-gmap-window>
        </ui-gmap-marker>
      </ui-gmap-google-map>
    </div>
    <div class="col-sm-6">
      <input type="text" class="form-control" ng-model="searchText" placeholder="Search Earthquakes">
      <div ng-repeat="earthquake in earthquakesIndexCtrl.earthquakes | orderBy: 'properties.place' | filter: searchText" class="row">
        <p>{{earthquake.properties.title}} <span class="small text-muted">({{earthquake.properties.time}})</span></p>
      </div>
    </div>
  </div>
</div>
