<h1 class="text-center">geoquakes-angular</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <ui-gmap-google-map center='quakesIndexCtrl.map.center' zoom='quakesIndexCtrl.map.zoom'>
        <ui-gmap-marker ng-repeat='quake in quakesIndexCtrl.quakes'
                        idKey='{id: quake.id }'
                        coords='{latitude: quake.geometry.coordinates[1] , longitude: quake.geometry.coordinates[0]}'
                        >
        </ui-gmap-marker>
      </ui-gmap-google-map>
    </div>

  </div>

</div>
